@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 316 58% 10%;
    --card: 0 0% 100%;
    --card-foreground: 316 58% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 316 58% 10%;
    --primary: 316 58% 22%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 316 58% 10%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 343 100% 38%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 316 58% 22%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 316 58% 5%;
    --foreground: 0 0% 98%;
    --card: 316 58% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 316 58% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 316 58% 22%;
    --secondary: 316 58% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 316 58% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 343 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 316 58% 12%;
    --input: 316 58% 12%;
    --ring: 343 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
